/* + 만들기 */
.plus-icon {
  position: relative;
  width: 30px;
  height: 30px;
}

.plus-icon::before,
.plus-icon::after {
  content: '';
  position: absolute;
  background-color: black;
}

/* 세로선 */
.plus-icon::before {
  width: 10px;
  height: 100%;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

/* 가로선 */
.plus-icon::after {
  width: 100%;
  height: 10px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

/* - 만들기 */
.minus-icon {
  width: 30px;
  height: 10px;
  background-color: black;
}
