/* 여기에 스타일을 구현해 주세요 */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 64px);
  grid-template-rows: repeat(2, 64px);
  background-color: #ffffff;
  padding: 100px;
}

.image-container {
  position: relative;
}

.circle-image {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  position: relative;
}

.toggle-button {
  width: 20px;
  height: 20px;
  background-color: #dbdbdb;
  border-radius: 50%;
  border: 0;
  position: absolute;
  top: 44px;
  left: 44px;
  cursor: pointer;
  color: #dbdbdb;
}

.toggle-button.active {
  background-color: #4cfe88;
  color: #4cfe88;
}
